.Italic {font-style: italic; }.Bold {font-weight: bold; }.BoldItalic {font-weight: bold; font-style: italic; }.Red {color: red; }.StyleTicket {white-space: pre; font-family: Courier; }.StyleDelegated {background-color: #e0e0e0; }hr {border: dashed; border-width: 1px; color: blue; }